function SpaceWars.new 0
push constant 82
call Memory.alloc 1
pop pointer 0
call Enemy.new 0
pop this 2
push constant 480
push constant 125
push constant 10
call Player.new 3
pop this 0
push argument 0
push constant 49
eq
not
if-goto SpaceWarsIFLABEL0
push this 0
call Player.decSize 1
pop temp 0
goto SpaceWarsIFLABEL1
label SpaceWarsIFLABEL0
label SpaceWarsIFLABEL1
push argument 0
push constant 51
eq
not
if-goto SpaceWarsIFLABEL3
push this 0
call Player.incSize 1
pop temp 0
goto SpaceWarsIFLABEL4
label SpaceWarsIFLABEL3
label SpaceWarsIFLABEL4
push constant 0
pop this 8
push constant 19
pop this 11
push constant 0
pop this 4
push constant 0
pop this 5
push constant 0
pop this 6
push constant 0
pop this 9
push constant 0
pop this 10
push constant 15
call Array.new 1
pop this 7
push this 7
push constant 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 7
push constant 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 7
push constant 2
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 7
push constant 3
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 7
push constant 4
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 7
push constant 5
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 7
push constant 6
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 7
push constant 7
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 7
push constant 7
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 7
push constant 8
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 7
push constant 9
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 7
push constant 10
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 7
push constant 11
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 7
push constant 12
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 7
push constant 13
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 7
push constant 14
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push pointer 0
return
function SpaceWars.dispose 0
push argument 0
pop pointer 0
push this 0
call Player.dispose 1
pop temp 0
push this 7
call Array.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function SpaceWars.run 1
push argument 0
pop pointer 0
label SpaceWarsWHILELABEL0
push this 6
not
not
if-goto SpaceWarsWHILELABEL1
push constant 0
pop this 8
call Keyboard.keyPressed 0
pop local 0
push local 0
push constant 81
eq
not
if-goto SpaceWarsIFLABEL6
push constant 1
neg
pop this 6
goto SpaceWarsIFLABEL7
label SpaceWarsIFLABEL6
label SpaceWarsIFLABEL7
push local 0
push constant 131
eq
not
if-goto SpaceWarsIFLABEL9
push constant 1
pop this 8
goto SpaceWarsIFLABEL10
label SpaceWarsIFLABEL9
label SpaceWarsIFLABEL10
push local 0
push constant 133
eq
not
if-goto SpaceWarsIFLABEL12
push constant 2
pop this 8
goto SpaceWarsIFLABEL13
label SpaceWarsIFLABEL12
label SpaceWarsIFLABEL13
push local 0
push constant 130
eq
not
if-goto SpaceWarsIFLABEL15
push constant 3
pop this 8
goto SpaceWarsIFLABEL16
label SpaceWarsIFLABEL15
label SpaceWarsIFLABEL16
push pointer 0
call SpaceWars.update 1
pop temp 0
goto SpaceWarsWHILELABEL0
label SpaceWarsWHILELABEL1
push constant 0
return
function SpaceWars.update 1
push argument 0
pop pointer 0
push this 8
push constant 1
eq
not
if-goto SpaceWarsIFLABEL18
push this 0
call Player.moveUp 1
pop temp 0
goto SpaceWarsIFLABEL19
label SpaceWarsIFLABEL18
label SpaceWarsIFLABEL19
push this 8
push constant 2
eq
not
if-goto SpaceWarsIFLABEL21
push this 0
call Player.moveDown 1
pop temp 0
goto SpaceWarsIFLABEL22
label SpaceWarsIFLABEL21
label SpaceWarsIFLABEL22
push this 8
push constant 3
eq
not
if-goto SpaceWarsIFLABEL24
push this 4
push constant 0
eq
not
if-goto SpaceWarsIFLABEL27
push this 0
call Player.getY 1
push this 0
call Player.getSize 1
push constant 2
call Math.divide 2
add
call Bullet.new 1
pop this 1
push constant 1
neg
pop this 4
goto SpaceWarsIFLABEL28
label SpaceWarsIFLABEL27
label SpaceWarsIFLABEL28
goto SpaceWarsIFLABEL25
label SpaceWarsIFLABEL24
label SpaceWarsIFLABEL25
push this 2
call Enemy.update 1
pop temp 0
push this 4
push constant 1
neg
eq
not
if-goto SpaceWarsIFLABEL30
push this 1
call Bullet.update 1
pop temp 0
push this 1
call Bullet.getX 1
push constant 5
lt
not
if-goto SpaceWarsIFLABEL33
push this 1
call Bullet.erase 1
pop temp 0
push this 1
call Bullet.dispose 1
pop temp 0
push constant 0
pop this 4
goto SpaceWarsIFLABEL34
label SpaceWarsIFLABEL33
label SpaceWarsIFLABEL34
push this 1
call Bullet.getX 1
push this 2
call Enemy.getX 1
push this 2
call Enemy.getSize 1
push constant 1
add
add
lt
not
if-goto SpaceWarsIFLABEL36
push this 1
call Bullet.getX 1
push this 2
call Enemy.getX 1
gt
not
if-goto SpaceWarsIFLABEL39
push this 1
call Bullet.getY 1
push this 2
call Enemy.getY 1
push constant 1
sub
gt
not
if-goto SpaceWarsIFLABEL42
push this 1
call Bullet.getY 1
push this 2
call Enemy.getY 1
push this 2
call Enemy.getSize 1
push constant 1
add
add
lt
not
if-goto SpaceWarsIFLABEL45
push this 2
call Enemy.getSize 1
push constant 6
gt
not
if-goto SpaceWarsIFLABEL48
push this 2
call Enemy.decSize 1
pop temp 0
push this 11
push constant 1
sub
pop this 11
goto SpaceWarsIFLABEL49
label SpaceWarsIFLABEL48
label SpaceWarsIFLABEL49
push this 2
call Enemy.getSize 1
push constant 7
lt
not
if-goto SpaceWarsIFLABEL51
push this 2
call Enemy.dispose 1
pop temp 0
push this 3
call EnemyBullet.dispose 1
pop temp 0
call Screen.clearScreen 0
pop temp 0
push constant 8
call String.new 1
push constant 89
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 119
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 33
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 1
neg
pop this 6
goto SpaceWarsIFLABEL52
label SpaceWarsIFLABEL51
label SpaceWarsIFLABEL52
push constant 0
pop this 4
push this 1
call Bullet.erase 1
pop temp 0
push this 1
call Bullet.dispose 1
pop temp 0
goto SpaceWarsIFLABEL46
label SpaceWarsIFLABEL45
label SpaceWarsIFLABEL46
goto SpaceWarsIFLABEL43
label SpaceWarsIFLABEL42
label SpaceWarsIFLABEL43
goto SpaceWarsIFLABEL40
label SpaceWarsIFLABEL39
label SpaceWarsIFLABEL40
goto SpaceWarsIFLABEL37
label SpaceWarsIFLABEL36
label SpaceWarsIFLABEL37
goto SpaceWarsIFLABEL31
label SpaceWarsIFLABEL30
label SpaceWarsIFLABEL31
push this 9
push constant 1
add
pop this 9
push this 9
push this 11
gt
push this 6
push constant 0
eq
and
not
if-goto SpaceWarsIFLABEL54
push this 7
push this 10
add
push this 2
call Enemy.getX 1
push this 2
call Enemy.getSize 1
add
push constant 1
add
push this 2
call Enemy.getY 1
push this 2
call Enemy.getSize 1
push constant 2
call Math.divide 2
add
push this 2
call Enemy.getSpeed 1
push constant 2
call Math.multiply 2
call EnemyBullet.new 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 10
push constant 1
add
pop this 10
push this 10
push constant 11
gt
not
if-goto SpaceWarsIFLABEL57
push constant 0
pop this 10
goto SpaceWarsIFLABEL58
label SpaceWarsIFLABEL57
label SpaceWarsIFLABEL58
push constant 0
pop this 9
goto SpaceWarsIFLABEL55
label SpaceWarsIFLABEL54
label SpaceWarsIFLABEL55
push constant 0
pop local 0
label SpaceWarsWHILELABEL2
push local 0
push constant 15
lt
push this 6
push constant 0
eq
and
not
if-goto SpaceWarsWHILELABEL3
push this 7
push local 0
add
pop pointer 1
push that 0
push constant 0
eq
not
not
if-goto SpaceWarsIFLABEL60
push this 7
push local 0
add
pop pointer 1
push that 0
pop this 3
push this 3
call EnemyBullet.update 1
pop temp 0
push this 3
call EnemyBullet.getX 1
push this 0
call Player.getX 1
push this 3
call EnemyBullet.getSpeed 1
sub
gt
not
if-goto SpaceWarsIFLABEL63
push this 3
call EnemyBullet.getX 1
push this 0
call Player.getX 1
push this 0
call Player.getSize 1
add
lt
not
if-goto SpaceWarsIFLABEL66
push this 3
call EnemyBullet.getY 1
push this 0
call Player.getY 1
gt
not
if-goto SpaceWarsIFLABEL69
push this 3
call EnemyBullet.getY 1
push this 0
call Player.getY 1
push this 0
call Player.getSize 1
add
lt
not
if-goto SpaceWarsIFLABEL72
push constant 1
neg
pop this 6
push this 7
push local 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 3
call EnemyBullet.dispose 1
pop temp 0
push this 7
call Array.dispose 1
pop temp 0
call Screen.clearScreen 0
pop temp 0
push constant 9
call String.new 1
push constant 89
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 76
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 33
call String.appendChar 2
call Output.printString 1
pop temp 0
goto SpaceWarsIFLABEL73
label SpaceWarsIFLABEL72
label SpaceWarsIFLABEL73
goto SpaceWarsIFLABEL70
label SpaceWarsIFLABEL69
label SpaceWarsIFLABEL70
goto SpaceWarsIFLABEL67
label SpaceWarsIFLABEL66
label SpaceWarsIFLABEL67
goto SpaceWarsIFLABEL64
label SpaceWarsIFLABEL63
label SpaceWarsIFLABEL64
push this 6
push constant 0
eq
push this 3
call EnemyBullet.getX 1
push constant 490
gt
and
not
if-goto SpaceWarsIFLABEL75
push this 3
call EnemyBullet.erase 1
pop temp 0
push this 3
call EnemyBullet.dispose 1
pop temp 0
push this 7
push local 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
goto SpaceWarsIFLABEL76
label SpaceWarsIFLABEL75
label SpaceWarsIFLABEL76
goto SpaceWarsIFLABEL61
label SpaceWarsIFLABEL60
label SpaceWarsIFLABEL61
push local 0
push constant 1
add
pop local 0
goto SpaceWarsWHILELABEL2
label SpaceWarsWHILELABEL3
push constant 25
call Sys.wait 1
pop temp 0
push constant 0
return
