function SquareGame.new 0
push constant 37
call Memory.alloc 1
pop pointer 0
push constant 0
push constant 0
push constant 30
call Square.new 3
pop this 0
push constant 0
pop this 1
push pointer 0
return
function SquareGame.dispose 0
push argument 0
pop pointer 0
push this 0
call Square.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function SquareGame.run 2
push argument 0
pop pointer 0
push constant 0
pop local 1
label SquareGameWHILELABEL0
push local 1
not
not
if-goto SquareGameWHILELABEL1
label SquareGameWHILELABEL2
push local 0
push constant 0
eq
not
if-goto SquareGameWHILELABEL3
call Keyboard.keyPressed 0
pop local 0
push pointer 0
call SquareGame.moveSquare 1
pop temp 0
goto SquareGameWHILELABEL2
label SquareGameWHILELABEL3
push local 0
push constant 81
eq
not
if-goto SquareGameIFLABEL0
push constant 1
neg
pop local 1
goto SquareGameIFLABEL1
label SquareGameIFLABEL0
label SquareGameIFLABEL1
push local 0
push constant 90
eq
not
if-goto SquareGameIFLABEL3
push this 0
call Square.decSize 1
pop temp 0
goto SquareGameIFLABEL4
label SquareGameIFLABEL3
label SquareGameIFLABEL4
push local 0
push constant 88
eq
not
if-goto SquareGameIFLABEL6
push this 0
call Square.incSize 1
pop temp 0
goto SquareGameIFLABEL7
label SquareGameIFLABEL6
label SquareGameIFLABEL7
push local 0
push constant 131
eq
not
if-goto SquareGameIFLABEL9
push constant 1
pop this 1
goto SquareGameIFLABEL10
label SquareGameIFLABEL9
label SquareGameIFLABEL10
push local 0
push constant 133
eq
not
if-goto SquareGameIFLABEL12
push constant 2
pop this 1
goto SquareGameIFLABEL13
label SquareGameIFLABEL12
label SquareGameIFLABEL13
push local 0
push constant 130
eq
not
if-goto SquareGameIFLABEL15
push constant 3
pop this 1
goto SquareGameIFLABEL16
label SquareGameIFLABEL15
label SquareGameIFLABEL16
push local 0
push constant 132
eq
not
if-goto SquareGameIFLABEL18
push constant 4
pop this 1
goto SquareGameIFLABEL19
label SquareGameIFLABEL18
label SquareGameIFLABEL19
label SquareGameWHILELABEL4
push local 0
push constant 0
eq
not
not
if-goto SquareGameWHILELABEL5
call Keyboard.keyPressed 0
pop local 0
push pointer 0
call SquareGame.moveSquare 1
pop temp 0
goto SquareGameWHILELABEL4
label SquareGameWHILELABEL5
goto SquareGameWHILELABEL0
label SquareGameWHILELABEL1
push constant 0
return
function SquareGame.moveSquare 0
push argument 0
pop pointer 0
push this 1
push constant 1
eq
not
if-goto SquareGameIFLABEL21
push this 0
call Square.moveUp 1
pop temp 0
goto SquareGameIFLABEL22
label SquareGameIFLABEL21
label SquareGameIFLABEL22
push this 1
push constant 2
eq
not
if-goto SquareGameIFLABEL24
push this 0
call Square.moveDown 1
pop temp 0
goto SquareGameIFLABEL25
label SquareGameIFLABEL24
label SquareGameIFLABEL25
push this 1
push constant 3
eq
not
if-goto SquareGameIFLABEL27
push this 0
call Square.moveLeft 1
pop temp 0
goto SquareGameIFLABEL28
label SquareGameIFLABEL27
label SquareGameIFLABEL28
push this 1
push constant 4
eq
not
if-goto SquareGameIFLABEL30
push this 0
call Square.moveRight 1
pop temp 0
goto SquareGameIFLABEL31
label SquareGameIFLABEL30
label SquareGameIFLABEL31
push constant 5
call Sys.wait 1
pop temp 0
push constant 0
return
